* {
    margin: 0;
    padding: 0;
}

body {
    --accent-color: #666;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 3rem;
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 3rem;
    height: 100vh;
    width: 100vw;
    display: flex;
}

main {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}
